altgraph==0.17.4 ; python_version >= "3.12" and python_version < "3.13"
annotated-types==0.6.0 ; python_version >= "3.12" and python_version < "3.13"
cffi==1.16.0 ; python_version >= "3.12" and python_version < "3.13" and platform_python_implementation != "PyPy"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "3.13" and sys_platform == "win32"
cryptography==42.0.5 ; python_version >= "3.12" and python_version < "3.13"
et-xmlfile==1.1.0 ; python_version >= "3.12" and python_version < "3.13"
firebirdsql==1.2.5 ; python_version >= "3.12" and python_version < "3.13"
loguru==0.7.2 ; python_version >= "3.12" and python_version < "3.13"
macholib==1.16.3 ; python_version >= "3.12" and python_version < "3.13" and sys_platform == "darwin"
numpy==1.26.4 ; python_version >= "3.12" and python_version < "3.13"
openpyxl==3.1.2 ; python_version >= "3.12" and python_version < "3.13"
packaging==24.0 ; python_version >= "3.12" and python_version < "3.13"
pandas==2.2.2 ; python_version >= "3.12" and python_version < "3.13"
pefile==2023.2.7 ; python_version >= "3.12" and python_version < "3.13" and sys_platform == "win32"
pycparser==2.22 ; python_version >= "3.12" and python_version < "3.13" and platform_python_implementation != "PyPy"
pydantic-core==2.18.2 ; python_version >= "3.12" and python_version < "3.13"
pydantic==2.7.1 ; python_version >= "3.12" and python_version < "3.13"
pyinstaller-hooks-contrib==2024.5 ; python_version >= "3.12" and python_version < "3.13"
pyinstaller==6.6.0 ; python_version >= "3.12" and python_version < "3.13"
pyperclip==1.8.2 ; python_version >= "3.12" and python_version < "3.13"
pyside6-addons==6.7.0 ; python_version >= "3.12" and python_version < "3.13"
pyside6-essentials==6.7.0 ; python_version >= "3.12" and python_version < "3.13"
pyside6==6.7.0 ; python_version >= "3.12" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "3.13"
python-decouple==3.8 ; python_version >= "3.12" and python_version < "3.13"
pytz==2024.1 ; python_version >= "3.12" and python_version < "3.13"
pywin32-ctypes==0.2.2 ; python_version >= "3.12" and python_version < "3.13" and sys_platform == "win32"
setuptools==69.5.1 ; python_version >= "3.12" and python_version < "3.13"
shiboken6==6.7.0 ; python_version >= "3.12" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.12" and python_version < "3.13"
typing-extensions==4.11.0 ; python_version >= "3.12" and python_version < "3.13"
tzdata==2024.1 ; python_version >= "3.12" and python_version < "3.13"
validate-docbr==1.10.0 ; python_version >= "3.12" and python_version < "3.13"
win32-setctime==1.1.0 ; python_version >= "3.12" and python_version < "3.13" and sys_platform == "win32"
